* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffeae6;
    color: rgba(0, 0, 0, 0.75);
    font-family: 'Roboto';
}

/*--- GRID ---*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/*--- LOGO ---*/

.logo {

    background-image: url(img/logo/NEW-NN-navnetraek_pos.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: 39;
    top: 30px;
    left: -50%;
    cursor: pointer;
}

.frontpage_logo {
    width: 240px;
    height: 120px;
    top: 38px;
}

.page_logo {
    width: 160px;
    height: 100px;
    top: 20px;
}

/*--- FRONTPAGE ---*/

.frontpage_container,
.container,
.frontpage_container_some {
    position: fixed;
    left: 50%;
    z-index: 20;
}

.frontpage_container_logo,
.container_logo {
    top: 0;
}

.frontpage_container_collection {
    top: 510px;
}

.frontpage_collection {
    width: 250px;
    height: 150px;
    position: relative;
    left: -50%;
    text-align: center;
    color: rgba(255, 234, 230, 0.75) !important;
}

.frontpage_c_season {
    font-size: 2.5em;
}

.frontpage_c_title {
    font-size: 1.5em;
    margin: 2px 0 15px 0;
}

.frontpage_c_btn {
    font-size: 14px;
    font-weight: 900;
    display: block;
    text-align: center;
    padding: 20px 20px;
    border-radius: 50px;
    height: 15px;
    width: 210px;
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #ffeae6 !important;
    text-decoration: none;
}

.frontpage_c_btn:hover {
    transform: scale(1.1);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.frontpage_container_some {
    width: 154px;
    text-align: center;
    bottom: 15px;
}

.frontpage_some {
    position: relative;
    left: -50%;
}

.frontpage_some .fa {
    font-size: 2.5em;
    color: rgba(0, 0, 0, 0.75)!important;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.fa-facebook-square:hover,
.fa-instagram:hover {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
    transform: scale(1.2);
}

/*--- SIDEBAR/MENU ---*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    position: relative;
    top: 20px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
}

.nav_links {
    color: #ffeae6!important;
    padding: 26px 20px!important;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1em;
    visibility: hidden;
}

.sidenav a:hover {
    color: #ffeae6;
}

.sidenav .closebtn {
    position: absolute;
    top: 30px;
    font-size: 2.5em;
    margin-left: 20px;
    border: none;
    background-color: rgba(240, 248, 255, 0);
    color: rgba(245, 245, 245, 0.65);
}

#openbtn,
#shopbtn {
    padding: 16px;
    position: fixed;
    z-index: 20;
    top: 20px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.75);
    border: none;
}

#openbtn:hover,
#shopbtn:hover {
    transform: scale(1.1);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

#openbtn {
    left: 0;
    border-radius: 0px 30px 30px 0px;
}

#shopbtn {
    right: 0;
    border-radius: 30px 0px 0px 30px;
}

.fa-shopping-cart {
    transform: rotateY(180deg);
}

#btn_a {
    font-size: 2.5em;
    color: #ffeae6;
    z-index: 22;
    position: relative;
}

#btn_a:hover {
    transform: scale(1.2);
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -ms-transition: all .8s;
    transition: all .8s;
}

#move_logo,
#move_collection {
    -webkit-transition: margin-left .8s;
    -moz-transition: margin-left .8s;
    -ms-transition: margin-left .8s;
    transition: margin-left .8s
}

/*--- FULLSCREEN SPLASH --*/

.frontpage_splash {
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    top: 0;
}

.frontpage_image {
    width: 101vw;
    height: 100vh;
    background-image: url(http://nicholasnybro.dk/media/9790/ss18_cover.jpg);
    background-size: cover;
    position: fixed;
    z-index: 1000;
    background-position: right;
    visibility: visible;
}

.fullvid {
    margin: 0;
    padding: 0;
    height: 120vh;
    position: fixed;
    bottom: 50%;
    left: 50%;
    z-index: -2;
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    -webkit-transition: all 400ms ease-out 400ms;
    -moz-transition: all 400ms ease-out 400ms;
    -ms-transition: all 400ms ease-out 400ms;
    transition: all 400ms ease-out 400ms;
}

/*--- EVERY PAGE ---*/

/*--- COLLECTIONS ---*/

[data-container-collections] {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2vw 2.5vw;
    grid-row: 4;
    grid-column: 2/12;
}

[data-collection] {
    width: 100%;
    height: 100%;
}

.collections_article:hover,
.news_article:hover {
    transform: scale(1.1);
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    transition: 0.6s;
    cursor: pointer;
}

[data-collection_name] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    width: 100%;
    font-size: 2.8em;
    color: rgba(0, 0, 0, 0.65);
}

.container_collections {
    position: relative;
    width: 100%;
    left: 0;
    margin: 12px 0;
}

.image_collection {
    display: block;
    width: 100%;
    height: 120px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 234, 230, 0.49);
}

.overlay:hover {
    background-color: rgba(255, 234, 230, 0.20);
}



/*--- COLLECTION --*/

.header_box {
    grid-column: 1/13;
    background-color: #ffeae6;
    width: 100vw;
    height: 120px;
    position: fixed;
    top: 0;
    z-index: 11;
}

[data-container] {
    display: grid;
    grid-gap: 2vw 2.5vw;
    grid-row: 5;
    grid-column: 2/12;
}

[data-collectionname] {
    grid-column: 2/12;
    text-align: center;
    font-weight: 800;
    padding: 20px 0;
    text-transform: uppercase;
}

[data-collectionname-h1] {
    grid-column: 2/12;
    text-align: left;
    font-weight: 800;
    padding: 20px 0;
}

[data-collectiontext] {
    grid-column: 2/12;
    margin-bottom: 20px;
}

.headline {
    grid-column: 2/12;
    text-align: center;
}

[data-billede] {
    width: 100%;
}

.collection_grid {
    grid-template-columns: repeat(12, 1fr);
    margin: 150px 30px;
    grid-column: 1/13;
}

/*---- ABOUT ----*/

#about .header_box {
    background-color:
}

.about_grid {
    grid-column: 2/12;
    margin: 120px 0 0 0;
}

[data-aboutname] {
    grid-column: 2/12;
    text-align: left;
    font-weight: 800;
    padding: 20px 0;
    font-size: 3.85em;
    text-align: center;
}

[data-abouttext] {
    grid-column: 2/12;
}

/*
.test {
    position: absolute;
    background-image: url(img/infographic/test.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 200px;
    width: 300px;
    top: 215px;

}
*/

.portraet {
    background-image: url(img/infographic/portraet.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 90vw;
    width: 90vw;
    position: absolute;
    right: 0%;
    bottom: 0%;
}




/*modalvinde*/

/* The Modal (background) */

#myModal {
    z-index: 600;
}


.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1000;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.75);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fdebe6;
    margin: auto;
    padding: 20px;
    width: 80%;
    z-index: 500;
}

/* The Close Button */

.close {
    position: absolute;
    right: 0%;
    margin: 0 5vw;
    padding: 10px 20px;
    color: #aaaaaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*
#myBtn {
    height: 8.5vw;
    width: 25vw;
    position: absolute;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}
*/

.infograhic_01 {
    background-image: url(img/infographic/t.png);
    background-repeat: no-repeat;
    background-size: 100%;
    right: 4%;
    bottom: 43%;
    border: none;
    height: 8.5vw;
    width: 25vw;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    cursor: pointer;

}


.infograhic_02 {
    background-image: url(img/infographic/fi.png);
    background-repeat: no-repeat;
    background-size: 100%;
    right: 35%;
    bottom: 41%;
    border: none;
    height: 8.5vw;
    width: 25vw;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    cursor: pointer;
}

.infograhic_03 {
    background-image: url(img/infographic/ad.png);
    background-repeat: no-repeat;
    background-size: 100%;
    right: 4%;
    bottom: 27%;
    border: none;
    height: 8.5vw;
    width: 25vw;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    cursor: pointer;
}

.infograhic_04 {
    background-image: url(img/infographic/ci.png);
    background-repeat: no-repeat;
    background-size: 100%;
    right: 10%;
    bottom: 21%;
    border: none;
    height: 8.5vw;
    width: 25vw;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    cursor: pointer;
}

.infograhic_05 {
    background-image: url(img/infographic/fd.png);
    background-repeat: no-repeat;
    background-size: 100%;
    right: 27%;
    bottom: 8%;
    border: none;
    height: 8.5vw;
    width: 25vw;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    cursor: pointer;
}

.infograhic_06 {
    background-image: url(img/infographic/cd2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    right: 4%;
    bottom: 2%;
    border: none;
    height: 8.5vw;
    width: 25vw;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    cursor: pointer;
}

.infograhic_07 {
    background-image: url(img/infographic/cd.png);
    background-repeat: no-repeat;
    background-size: 100%;
    right: 60%;
    bottom: 20%;
    border: none;
    height: 8.5vw;
    width: 25vw;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    cursor: pointer;
}



.popup {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1000;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.75);
    /* Black w/ opacity */
}

.modal_container {
    margin: 0 5vw;
    padding: 15px;
    position: fixed;
    padding-top: 35px;
    padding-bottom: 35px;
    margin: 0 5vw;
    background-color: #f3e1dc;
    z-index: -1;
}

/*
.pink_box {
    position: fixed;
    padding-top: 100px;
    margin: 0 5vw;
    background-color: #f3e1dc;
    width: 90vw;
    z-index: -1;
}
*/

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1000;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.75);
    /* Black w/ opacity */
}

.cancel {
    display: relative;
    cursor: pointer;
    margin: 0;
    float: right;
    height: 10px;
    width: 14px;
    padding: 0 0 5px 0;
    background-color: red;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    color: white;
    border-radius: 3px;
    z-index: 100000000000000000;
}


.cancel:hover {
    background: rgb(255, 50, 50);
}



/*--- CAMPAIGN VIDEO ---*/

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    grid-column: 2/12;
    grid-row: 4;
    margin-bottom: 2.5vw;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*--- NEWS ---*/

.news-container {
    grid-column: 2/12;
}

.news_article {
    margin-bottom: 20px;
    position: relative;
}

.nyheder button {
    margin-top: 10px;
}

.nyheder .billedboks {
    height: 200px;
    overflow: hidden;
}

.nyheder img {
    width: 100%;
    height: 100%;
}

.nyheder h2 {
    margin: 7px 0;
}

.nyheder h3 {
    font-weight: 100;
    font-size: 14px;
}

.nyheder [data-dato] {
    position: absolute;
    cursor: pointer;
    font-size: 0.7em;
    bottom: 80px;
    margin-left: 1vw;
}

.nyheder [data-nyhedstitel] {
    margin: 29px 0 -15px 0;
    font-size: 1.05em;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 94%;
    position: absolute;
    bottom: 70px;
    margin-left: 1vw;
}

.nyheder [data-short_text] {
    font-weight: 400;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 0 0 1vw;
    width: 90%;
    position: absolute;
    bottom: 30px;
}

.nyheder [data-button-tekst] {
    position: absolute;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    background-color: rgba(255, 127, 80, 0);
    text-align: right;
    z-index: 10;
    bottom: 10px;
    right: 1vw;
    bottom: 1vw;
    border: none;
    color: white;
}

.nyheder .boks {
    background: linear-gradient(transparent, #ad9792);
    width: 100%;
    bottom: 0px;
    position: absolute;
    cursor: pointer;
    height: 200px;
    color: white;
}

/*---- CONTACT ----*/

.contact_grid {
    grid-column: 2/12;
    margin: 120px 0 140px 0;
}

.contact_grid_content {
    grid-column: 2/12
}

[data-contactname] {
    grid-column: 2/12;
    text-align: center;
    font-weight: 800;
    padding: 20px 0;
    font-size: 3.85em;
}

[data-contacttext] {
    grid-column: 2/12;
    margin-bottom: 40px;
}

.contactheadline {
    grid-column: 2/12;
    font-size: 1.25em;
    letter-spacing: 0.2em;
    border-bottom: 1px black solid;
}

.contact_grid a {
    text-decoration: none;
    color: #332F2D
}

.contact_grid a:hover {
    text-decoration: none;
    color: #fdebe6;
    font-weight: 500;
    background-color: #332F2D
}

/*----- IPAD ------*/

@media screen and (min-width: 600px) {


    .grid-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    [data-container] {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column: 2/12;
    }

    .frontpage_image {
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        visibility: hidden;
    }
    .image_collection {
        height: 160px;
    }

    [data-aboutname] {
        grid-column: 2/12;
        text-align: left;
        font-weight: 800;
        padding: 20px 0;
        font-size: 3.85em;
        text-align: left;
    }
    [data-contactname] {
        grid-column: 2/12;
        text-align: left;
        font-weight: 800;
        padding: 20px 0;
        font-size: 3.85em;
        text-align: left;
    }

    .portraet {
        height: 42vw;
        width: 42vw;
    }

    /*
    #myBtn {
        height: 4vw;
        width: 10vw;
    }
*/
    .infograhic_01 {
        right: 4%;
        bottom: 38vw;
        height: 4vw;
        width: 10vw;
    }
    .infograhic_02 {
        right: 12%;
        bottom: 30vw;
        height: 4vw;
        width: 10vw;
    }
    .infograhic_03 {
        right: 4%;
        bottom: 24vw;
        height: 4vw;
        width: 10vw;
    }
    .infograhic_04 {
        right: 8%;
        bottom: 19vw;
        height: 4vw;
        width: 10vw;
    }
    .infograhic_05 {
        right: 12%;
        bottom: 9vw;
        height: 4vw;
        width: 10vw;
    }
    .infograhic_06 {
        right: 4%;
        bottom: 3vw;
        height: 4vw;
        width: 10vw;
    }
    .infograhic_07 {
        right: 30%;
        bottom: 16vw;
        height: 4vw;
        width: 10vw;
    }
    .infograhic_08 {
        right: 18%;
        bottom: 35vw;
        height: 4vw;
        width: 10vw;
    }

    .test {
        background-image: url(img/infographic/);
    }
}


/*---- DESKTOP ----*/

@media screen and (min-width: 1025px) {

    [data-container] {
        grid-template-columns: repeat(3, 1fr);
        grid-column: 2/12;
    }

    .image_collection {
        height: 200px;
    }

    [data-container-collections] {
        grid-template-columns: repeat(2, 1fr);
    }

    .collections_article:hover {
        transform: scale(1.05);
    }
    .portraet {
        height: 35vw;
        width: 35vw;
    }

    /*
    #myBtn {
        height: 2.5vw;
        width: 7vw;
    }
*/
    .infograhic_01 {
        right: 4%;
        bottom: 32.4vw;
        height: 2.5vw;
        width: 7vw;
    }
    .infograhic_02 {
        right: 12%;
        bottom: 27vw;
        height: 2.5vw;
        width: 7vw;
    }
    .infograhic_03 {
        right: 4%;
        bottom: 20vw;
        height: 2.5vw;
        width: 7vw;
    }
    .infograhic_04 {
        right: 8%;
        bottom: 15.5vw;
        height: 2.5vw;
        width: 7vw;
    }
    .infograhic_05 {
        right: 12%;
        bottom: 7vw;
        height: 2.5vw;
        width: 7vw;
    }
    .infograhic_06 {
        right: 4%;
        bottom: 3vw;
        height: 2.5vw;
        width: 7vw;
    }
    .infograhic_07 {
        right: 25%;
        bottom: 16vw;
        height: 2.5vw;
        width: 7vw;
    }
    .infograhic_08 {
        right: 18%;
        bottom: 30vw;
        height: 2.5vw;
        width: 7vw;
    }

    .test {
        background-image: url(img/infographic/);
    }
